<div class="large-7 columns left">
	<% @lost_reports.each do |lost| %>
	  <div class="panel radius">
	  	<%= link_to(lost_report_path(lost)) do %>
		  <h3>SE BUSCA <b><%= lost.pet.name.upcase %></b></h3>
		<% end %>
		<%= link_to image_tag(lost.pet.avatar.url(:medium)), lost_report_path(lost) %>
	    <% if lost.reward==1 %>
			<br><span class="[success alert secondary] [round radius] label">Se ofrece recompensa</span>
	    <% end %>
	    <p>Perdido en <b><%= lost.province.name %></b></p>
	    <dl class="accordion" data-accordion>
	      <dd class="accordion-navigation">
		    <a href="#panel3", class="accordion">Ver información</a>
		    <div id="panel3" class="content">
		      <center>
		        <b>Dirección: </b><%= lost.province.name %>. <%= lost.address %><br>
		        <b><%= lost.pet.breed.name %></b>, <%= lost.pet.sex.downcase %>. <%= lost.description %>
		        <br><b>Teléfonos</b>: <%= lost.phone_number1 %>
		        <% if !lost.phone_number2.nil? %>
		        	<a> / <%= lost.phone_number2 %></a>
		        <% end %>
		        <br>
		        <%= link_to "Editar información", edit_lost_report_path(lost) %>
		      </center>
		    </div>
		  </dd>
		</dl>
	  </div>
	<% end %>
</div>