<div class="large-8 columns left">
  <ul class="small-block-grid-1 large-block-grid-3">
    <% @lost_reports.each_with_index do |lost, i| %>
      <li>
        <% pet = lost.pet %>
          <div class="panel radius">
            <%= link_to image_tag(pet.avatar.url(:medium)), pet_lost_report_path(pet) %>
            <%= link_to(pet_lost_report_path(lost.pet)) do %>
              <h3>SE BUSCA <b><%= pet.name.upcase %></b></h3>
            <% end %>
            <div class="row">
              <%= render partial: 'shared/social_shares',
              locals: { url: 'http://localhost:3000/mascotas/' + lost.id.to_s + '/extravios/' } %>
              <%= render partial: 'lost_pet_info', locals: { i: i, pet: pet, lost: lost } %>
            </div>
        </div>
      <% end %>
    </li>
  </ul>
</div>
