.page-content.main
  .container
    .project-feed.project-feed__3cols.row.isotope
      - @lost_reports.each do |lost_report, pet = lost_report.pet|
        .col-sm-6.col-md-4.project-item.lostPet
          .project-item-inner
            %figure.alignnone.project-img
              .lostPet--imageHolder
                = image_tag pet.avatar.url(:medium), class: "lostPet--image"

            .project-desc
              %h5.lostPet--search Se busca
              %h4.title.lostPet--name= pet.name

          .lostPet--information
            %h4.lostPet--name= pet.name
            .lostPet--information--detail
              .lostPet--information--detail--row.col-md-12.col-sm-12
                = image_tag("location_icon.svg", class: "lostPet--information--detail--image")
                .lostPet--information--detail--text
                  %b= lost_report.province.name

              .lostPet--information--detail--row.col-md-12.col-sm-12
                = image_tag("breed_icon.svg", class: "lostPet--information--detail--image")
                .lostPet--information--detail--text
                  %b= pet.breed_name
                  %span= "(#{pet.sex})"

              .lostPet--information--detail--row.col-md-12.col-sm-12
                = image_tag("description_icon.svg", class: "lostPet--information--detail--image")
                .lostPet--information--detail--text
                  %p= lost_report.description

              .lostPet--information--detail--row.col-md-12.col-sm-12
                = image_tag("phone_icon.svg", class: "lostPet--information--detail--image")
                .lostPet--information--detail--text
                  %p= lost_report.phone_numbers.join(" / ")
                  %b= lost_report.owner

            = link_to "Ver más detalles", pet_lost_report_path(pet), class: "lostPet--information--moreLink btn btn-sm btn-success"
