<div class="large-8 columns left">
  <div class="small-block-grid-2">
  <% @lost_reports.each_with_index do |lost, i| %>
    <li>
      
      <% pet = lost.pet %>
      
      <div class="panel radius">
        <%= link_to(pet_lost_report_path(lost.pet)) do %>
          <h3>SE BUSCA <b><%= pet.name.upcase %></b></h3>
        <% end %>
        <%= link_to image_tag(pet.avatar.url(:medium)), pet_lost_report_path(pet) %>
        <% if lost.reward==1 %>
          <p class="marginless"><span class="[success alert secondary] [round radius] label">Se ofrece recompensa</span></p>
        <% else %>
          <p class="marginless"><span class="[success warning secondary] [round radius] label">Se busca</span></p>
        <% end %>
        <p>Perdido en <b><%= lost.province.name %></b></p>
        <dl class="accordion" data-accordion>
          <dd class="accordion-navigation">
            <a href="#panel3", class="accordion">Ver información</a>
            <div id="panel3" class="content">
              <center>
                <p class="marginless"><b>Dirección: </b><%= lost.province.name %>. <%= lost.address %></p>
                <p class="marginless"><b><%= pet.breed.name %></b>, <%= pet.sex.downcase %>. <%= lost.description %></p>
                <p class="marginless"><b>Teléfonos</b>: <%= lost.phone_number1 %>
                <% if !lost.phone_number2.nil? %>
                  / <%= lost.phone_number2 %>
                <% end %>
                </p>
                <p class="marginless"><%= link_to "Editar información", edit_pet_lost_report_path(pet) %></p>
              </center>
            </div>
          </dd>
        </dl>
      </div>
    </li>
  <% end %>
  </div>
</div>
