<%= render 'shared/header' %>
<div>
<%= render 'shared/page_heading', { heading: 'Mascotas desaparecidas' } %>

<div class="row search">
  <div class="col-md-6 col-md-offset-4">
    <fieldset>
      <%= form_tag(root_path, method: 'get') do %>
        <div class="col-md-6">
          <%= collection_select(:province, :province_id, Province.all, :id, :name,
          { include_blank: 'Provincias', selected: @province_id }, { class: 'form-control' }) %>
        </div>
        <div class="col-md-6">
          <%= button_tag(type: 'submit', class: 'btn btn-sm btn-default search') do %>
              Buscar
          <% end %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
</div>
<%= render 'lost_pet' %>
