<%= render "shared/header" %>
<div class="large-12 columns">
    <div class="row">
        <div class="row final"></div>
        <center>
          <a class="header">Mascotas desaparecidas</a>
        </center>
        <hr>
        <div class="row">
          <center>
            <div class="row final"></div>
            <div class="large-12 columns">
              <%= form_tag(home_path, method: "get") do %>
                <%= collection_select(:province, :province_id, Province.all, :id, :name,
                { include_blank: "Ver todas", selected: @province_id }, { class: 'select search' }) %>
                <%= button_tag(type: "submit", class: "small button search") do %>
                    Buscar <i class="step fi-magnifying-glass"></i>
                <% end %>
              <% end %>
            </div>
            <%= render 'lost_pet' %>
          </center>  
      </div>
    </div>
</div>
