<%= render "shared/header" %>
<div class="large-12 columns">
    <div class="row">
        <br>
        <center>
          <a class="header">Mascotas desaparecidas</a>
        </center>
      <hr>
        <div class="row">
        <center>
          <div class="large-3 columns">
            <ul class="side-nav">
              <li class="divider"></li>
              <li><label>PROVINCIA</label></li>
              <li>
              <%= form_tag("/inicio", method: "get") do %>
                <%= collection_select(:province, :province_id, Province.all, :id, :name, include_blank: "Ver todas", selected: @province_id) %>
                <%= submit_tag "Buscar", class: "small button" %>
              <% end %>
              </li>
              <li><%= link_to "Ver mis mascotas", pets_path %></li>
              <li><%= link_to "Registrar una mascota", new_pet_path %></li>
              <%= form_tag(new_pet_path, method: "post") do %>
                <%= hidden_field_tag 'is_lost', true %>
                <li><%= submit_tag "Registrar mascota perdida", class: "small button" %></li>
              <% end %>
            </ul>
          </div>
          <div class="large-7 columns left">
            <% @lost_reports.each do |lost| %>
              <div class="panel radius">
                <h3>SE BUSCA <%= lost.pet.name.upcase %></h3>
                <a href="#"><%= image_tag lost.pet.avatar.url(:medium) %></a>
                <p>Se perdi칩 en <%= lost.province.name %></p>
                <%= link_to "Ver m치s informaci칩n", new_pet_path %>
                <%= link_to "Editar informaci칩n", edit_lost_report_path(lost) %>
              </div>
            <% end %>
          </div>
        </center>
      </div>
    </div>
</div>