<%= render 'shared/header' %>
<div class='large-12 columns'>
    <div class='row'>
        <div class='row final'></div>
        <center>
          <a class='header'>Mascotas desaparecidas</a>
        </center>
        <hr>
        <div class='row'>
          <center>
            <div>
              <%= form_tag(home_path, method: 'get') do %>
                <%= collection_select(:province, :province_id, Province.all, :id, :name,
                { include_blank: 'Provincias', selected: @province_id }, { class: 'select search' }) %>
                <%= button_tag(type: 'submit', class: 'small button search') do %>
                    Buscar
                <% end %>
              <% end %>
            </div>
            <%= render 'lost_pet' %>
          </center>  
      </div>
    </div>
</div>
