<%= render "shared/header" %>
<div class="large-12 columns">
    <div class="row">
        <div class="row final"></div>
        <center>
          <a class="header">Mascotas desaparecidas</a>
        </center>
        <hr>
        <div class="row">
        <center>
          <div class="large-3 columns">
            <ul class="side-nav">
              <li class="divider"></li>
              <li><label>PROVINCIA</label></li>
              <li>
              <%= form_tag("/inicio", method: "get") do %>
                <%= collection_select(:province, :province_id, Province.all, :id, :name, {include_blank: "Ver todas", selected: @province_id}, {class: 'select search'}) %>
                <%= submit_tag "Buscar", class: "small button search" %>
              <% end %>
              </li>
              <li><%= link_to "Registrar desaparición", new_pet_path %></li>
              <li><%= link_to "Ver mis mascotas", pets_path %></li>
            </ul>
          </div>
          <%= render 'lost_pet' %>         
        </center>
      </div>
    </div>
</div>
