<%= render 'shared/header' %>
<div>
  <!-- Page Heading -->
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Mascotas desaparecidas</h1>
        </div>
        <div class="col-md-6">
          <ul class="breadcrumb">
            <li class="active">Inicio</li>
            <li><a href="#">Adopciones</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="row search">
    <div class="col-md-6 col-md-offset-4">
      <fieldset>
        <%= form_tag(root_path, method: 'get') do %>
          <div class="col-md-6">
            <%= collection_select(:province, :province_id, Province.all, :id, :name,
            { include_blank: 'Provincias', selected: @province_id }, { class: 'form-control' }) %>
          </div>
          <div class="col-md-6">
            <%= button_tag(type: 'submit', class: 'btn btn-sm btn-default search') do %>
                Buscar
            <% end %>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>

</div>
<%= render 'lost_pet' %>
