<div class="large-12 columns">
  <div class="row">
    <div class="row final"></div>
    <center><a class="header">Crear cuenta</a></center>
    <hr>
    <div class="large-6 columns">
      <div class="panel">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <%= f.text_field :name, placeholder: "Nombre", autofocus: true %>
          <%= f.email_field :email, placeholder: "E-mail", autofocus: true %>
          <%= f.label "Contraseña (#{@minimum_password_length} caracteres como mínimo)" if @validatable %>
          <div class="row final"></div>
          <%= f.password_field :password, placeholder: "Nueva contraseña", autocomplete: "off" %>
          <%= f.password_field :password_confirmation, placeholder: "Ingrese de nuevo la contraseña", autocomplete: "off" %>
          <div><%= f.submit "Crear cuenta", class: "small button radius" %></div>
        <% end %>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        <center>
          <%= render partial: 'devise/shared/sessions.html.erb' %>
        </center>
      </div>
    </div>
  </div>
</div>
