<div class="large-12 columns">
  <div class="row">
    <div class="row final"></div>
    <h3>Crear cuenta</h3>
    <hr>
    <div class="panel">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.text_field :name, placeholder:"María", autofocus: true %>
        <%= f.email_field :email, placeholder:"E-mail", autofocus: true %>
        <%= "#{@minimum_password_length} caracteres como mínimo" if @validatable %>
        <div class="row final"></div>
        <%= f.password_field :password, placeholder: "Nueva contraseña", autocomplete: "off" %>
        <%= f.password_field :password_confirmation, placeholder: "Ingrese de nuevo la contraseña", autocomplete: "off" %>
        <div><%= f.submit "Crear cuenta", class:"button" %></div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
