<%= render 'shared/header', locals: { header_main: false } %>

<!-- Page Content -->
<section class="page-content">
  <div class="container">
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <!-- Job Form -->
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id:"submit-job-form", class:"job-manager-form", enctype:"multipart/form-data", name:"commit"}) do |f| %>
          <%= devise_error_messages! %>

          <fieldset>
            <label>¿Tenés cuenta de Facebook?</label>
            <div class="field account-sign-in">
              <p>
                <a class="btn btn-primary btn-sm facebook" href="#"><i class="fa fa-key"></i>Ingresar con cuenta de Facebook</a>
              </p>

              <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
                Si no tenés una cuenta podés ingresar usando tu Facebook o crear una aquí abajo agregando tu nombre, correo electrónico y una contraseña.
              </div>
            </div>
          </fieldset>

          <fieldset>
            <label>Tu nombre <span class="required">*</span></label>
            <div class="field">
              <%= f.text_field :name, placeholder: "ej. María Soto", autofocus: true, class:"form-control" %>
            </div>
          </fieldset>

          <fieldset>
            <label>Tu correo electrónico <span class="required">*</span></label>
            <div class="field">
              <%= f.email_field :email, type:"email", class:"form-control", placeholder:"nombre@ejemplo.com", autofocus: true %>
            </div>
          </fieldset>

          <fieldset>
            <label>Nueva contraseña <span class="required">*</span></label>
            <div class="field">
            <%= f.password_field :password, type:"password", class:"form-control", placeholder: "#{@minimum_password_length} caracteres como mínimo", autocomplete: "off" %>
            </div>
            <div class="spacer"></div>
            <div class="field">
            <%= f.password_field :password_confirmation, type:"password", class:"form-control", placeholder: "Escribí de nuevo tu nueva contraseña", autocomplete: "off" %>
            </div>
          </fieldset>

          <div class="spacer"></div>

          <p>
            <%= f.submit "Crear cuenta", type:"submit", class: "btn btn-primary" %>
          </p>

        <% end %>
        <!-- Job Form / End -->
      </div>
    </div>

  </div>
</section>
<!-- Page Content / End -->
