<%= render "shared/header" %>
<div class="large-12 columns">
    <div class="row">
      <br>
        <center>
          <i class="lost-report"></i>&nbsp;<a class="header">Llená los datos de la desaparición de <%= @pet.name %></a>
        </center>
      <hr>
        <div class="row">
        <center>
          <div class="large-3 columns">
            <br>
          </div>
          <div class="large-6 columns left">
            <br>
              <%= form_for @lost_report do |f| %>
                <% if @lost_report.errors.any? %>
                  <div id="error_explanation">
                    <div data-alert class="alert-box alert radius">
                        Lo sentimos, no se pudo guardar la información:
                        <% @lost_report.errors.full_messages.each do |msg| %>
                          <br><%= msg %>
                        <% end %>
                      <a href="#" class="close">&times;</a>
                    </div>
                  </div>
                <% end %>
                <div class="row">
                  <div class="large-6 columns">
                    <%= f.text_field :owner, placeholder: "Nombre de la dueña o el dueño" %>
                  </div>
                </div>
                <div class="row">
                  <div class="large-6 columns">
                      <%= f.text_field :phone_number1, placeholder: "Número de teléfono" %>
                  </div>
                  <div class="large-6 columns">
                      <%= f.text_field :phone_number2, placeholder: "Otro número de teléfono" %>
                  </div>
                </div>
                <div class="row">
                  <div class="large-6 columns">
                    <label>Provincia
                      <%= collection_select(:lost_report, :province_id, Province.all, :id, :name) %>
                    </label>
                  </div>
                  <div class="large-6 columns">
                    <label>Dirección exacta
                      <%= f.text_area :address, placeholder: "Mencioná también lugares aledaños" %>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns">
                    <label>Descripción breve
                      <%= f.text_area :description, placeholder: "Mencioná características que identifiquen a tu mascota." %>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="large-6 columns">
                      <%= f.check_box :reward %><label>Ofrezco recompensa</label>
                  </div>
                </div>
                <%= hidden_field_tag 'pet_id', @pet.id %>
                <br><%= f.submit "Ayudar a difundir por redes sociales", class: "secondary small button right" %>
              <% end %>
          </div>
          </center>
        </div>
    </div>
</div>