<%= render 'social_share_meta_tags' %>
<%= render 'shared/header' %>
<% text = @lost_report.found ? 'Ya encontramos a' : 'Se busca' %>
<%= render 'shared/page_heading', { heading: "#{text} #{@lost_report.pet.name}" } %>

<section class="page-content">
  <div class="container">
    <div class="row">
      <div class="pet-image col-md-7">
        <%= image_tag(@lost_report.pet.avatar.url(:large), class: 'img-thumbnail') %>
        <%= render 'social_share_buttons', { lost_report: @lost_report } %>
      </div>
      <div class="col-md-5">
        <% if @lost_report.found %>
          <%= render 'found_info', { lost_report: @lost_report } %>
          <div class="alert alert-warning alert-dismissable flyer-container">
            <strong><%= "¡Ya encontramos a #{@lost_report.pet.name}! Gracias por tu ayuda." %></strong>
            <%= render 'shared/site_slogan' %>
          </div>
        <% else %>
          <%= render 'shared/lost_report_info', { lost_report: @lost_report } %>
          <%= render 'shared/flyer_preview', { lost_report: @lost_report } %>
        <% end %>
      </div>
    </div>
  </div>
</section>
