<%= render "shared/header" %>
<div class="large-12 columns">
  <div class="row">
    <div class="row final"></div>
    <center><a class="header">SE BUSCA <b><%= @pet.name.upcase %></b></a></center>
    <hr>
    <div class="large-6 columns">
      <center>
        <div class="panel radius">
          <%= image_tag(@pet.avatar.url(:medium)) %>
          <p class="marginless">
            <% if @lost_report.reward==1 %>
              <span class="[success alert secondary] [round radius] label">Se ofrece recompensa</span>
            <% else %>
              <span class="[success warning secondary] [round radius] label">Se busca</span>
            <% end %>
          </p>
          <div class="panel callout radius">
            <center>
              <p class="marginless"><b>Perdido en: </b><%= @lost_report.province.name %>. 
              <%= @lost_report.address %></p>
              <p class="marginless">
              <% if @pet.breed.name == 'Otra' %>
                <b><%= @pet.breed.animal_type.name %></b>,
              <% else %>
                <b><%= @pet.breed.name %></b>,
              <% end %>
              <%= @pet.sex.downcase %>. <%= @lost_report.description %></p>
              <p class="marginless"><b>Teléfonos</b>: <%= @lost_report.phone_numbers.join(" / ") %>
              <%= link_to "Editar información", edit_pet_lost_report_path(@pet) %>
            </center>
          </div>
        </div>
      </center>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        <center>
          <label>Copiá este link y compartilo en tus redes sociales</label>
          <%= text_field_tag "buscamascotas.com", placeholder: "buscamascotas.com" %>
          <%= link_to "Generar Anuncio", pet_lost_report_flyer_path(@pet), class: "button [radius round]", target: "_blank" %>
        </center>
        <p><label>Estas asociaciones cerca de <%= @lost_report.province.name %> te pueden ayudar con tu búsqueda:</label></p>
        <ul>
          <li>Esta</li>
          <li>Aquella</li>
          <li>La otra</li>
        </ul>
      </div>
    </div>
  </div>
</div>
