<%= render "shared/header" %>
<div class="large-12 columns">
  <div class="row">
    <br>
    <h3>SE BUSCA <b><%= @pet.name.upcase %></b></h3>
    <hr>
    <div class="large-6 columns">
      <center>
      <div class="panel radius">
        <%= image_tag(@pet.avatar.url(:medium)) %>
        <% if @lost_report.reward==1 %>
          <br><span class="[success alert secondary] [round radius] label">Se ofrece recompensa</span>
        <% end %>
        <div class="panel callout radius">
          <center>
            <b>Perdido en: </b><%= @lost_report.province.name %>. <%= @lost_report.address %><br>
            <b><%= @pet.breed.name %></b>, <%= @pet.sex.downcase %>. <%= @lost_report.description %>
            <br><b>Teléfonos</b>: <%= @lost_report.phone_number1 %>
            <% if !@lost_report.phone_number2.nil? %>
            / <%= @lost_report.phone_number2 %><br>
            <% end %>
            <%= link_to "Editar información", edit_pet_lost_report_path(@pet) %>
          </center>
        </div>
      </div>
      </center>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        <center>
          <label>Copiá este link y compartilo en tus redes sociales</label>
          <%= text_field_tag "buscamascotas.com", placeholder: "buscamascotas.com" %>
          <%= link_to "Generar Anuncio", pet_lost_report_flyer_path(@pet), class: "button [radius round]", target: "_blank" %>
        </center>
        <br><label>Estas asociaciones cerca de <%= @lost_report.province.name %> te pueden ayudar con tu búsqueda:</label>
        <ul>
          <li>Esta</li>
          <li>Aquella</li>
          <li>La otra</li>
        </ul>
      </div>
    </div>
  </div>
</div>
