<%= render 'shared/header' %>
<div class='large-12 columns'>
  <div class='row'>
    <div class='row final'></div>
    <center><a class='header'>Se busca <b><%= @pet.name %></b></a></center>
    <hr>
    <div class='large-12 columns'>
      <center>
        <div>
          <div class='row final'></div>
          <%= image_tag(@pet.avatar.url(:medium)) %>
        </div>
      </center>
      <div>
        <%= render partial: 'shared/lost_pet_info', locals: { lost_report: @lost_report } %>
      </div>
    </div>
    <%= render partial: 'social_share_options', locals: { lost_report: @lost_report } %>
  </div>
</div>
