<%= render 'shared/header' %>
<%= render 'shared/page_heading', { heading: "Se busca #{@lost_report.pet.name}" } %>

<section class="page-content">
  <div class="container">
    <div class="row">
      <div class="pet-image col-md-7">
        <%= image_tag(@lost_report.pet.avatar.url(:large), class: 'img-thumbnail') %>
        <%= render 'social_share_options', { lost_report: @lost_report } %>
      </div>
      <div class="col-md-5">
        <%= render 'shared/lost_report_info', { lost_report: @lost_report } %>
        <%= render 'shared/flyer_preview', { lost_report: @lost_report } %>
      </div>
    </div>
  </div>
</section>
