<%= form_for @pet do |f| %>
    <% if @pet.errors.any? %>
      <div id="error_explanation">
        <p>Lo sentimos, no se pudo guardar la informacion:</p>
        <% @pet.errors.full_messages.each do |msg| %>
          <p><%= msg %><p>
        <% end %>
      </div>
    <% end %>
    <%= image_tag @pet_image.avatar.url(:thumb) if @editing %>
    <%= f.text_field :name, placeholder: "Nombre" %>
    <%= collection_select(:pet, :id_breed, Breed.all, :id, :name) %>
    <%= collection_select(:pet, :id_animal_type, AnimalType.all, :id, :name) %>
    <%= f.radio_button :sex, 'Macho', checked: true %> Es macho
    <%= f.radio_button :sex, 'Hembra'%> Es hembra
    <%= f.text_area :description, placeholder: "Descripcion" %>
    <%= f.file_field :avatar, class: "image-selector" %>
    <img id="image"></img>
    <%= f.submit "Aceptar", class: "button" %>
<% end %>