<%= render "shared/header" %>
<div class="large-12 columns">
    <div class="row">
        <br>
        <h3>Tus mascotas</h3>
        <hr>
        <div class="large-4 columns">
            <ul class="small-block-grid-2">
                <% @pets.each do |pet| %>
                    <li><a href="#"><%= image_tag pet.avatar.url(:medium) %></a>
                    <p>Nombre: <%= pet.name %> <%= link_to 'Editar', edit_pet_path(pet) %>
                    <%= link_to 'Eliminar', pet_path(pet), method: :delete, data: { confirm: 'Esta seguro?' } %></p></li>
                <% end %>
            </ul>
            <%= link_to 'Registra otra de tus mascotas', new_pet_path %>
        </div>
    </div>
</div>