<%= render "shared/header" %>
<div class="large-12 columns">
    <div class="row">
      <br>
      <h3>Registrá a tu mascota perdida</h3>
      <hr>
        <div class="row">
          <div class="large-6 columns">
            <%= render 'form' %>
          </div>
          <div class="large-6 columns">
          <br><br>
            <%= form_for @pet do |f| %>
            <% if @pet.errors.any? %>
              <div id="error_explanation">
                <p>Lo sentimos, no se pudo guardar la información:</p>
                <% @pet.errors.full_messages.each do |msg| %>
                  <p><%= msg %><p>
                <% end %>
              </div>
            <% end %>
              <div class="row">
                <div class="large-6 columns">
                  <%= f.text_field :name, placeholder: "Nombre de la dueña o el dueño" %>
                </div>
                <div class="large-6 columns">
                  <%= f.radio_button :sex, 'Macho', text:'sd', checked: true %><label>Es macho</label>
                  <%= f.radio_button :sex, 'Hembra'%><label>Es hembra</label>
                </div>
              </div>
              <div class="row">
                <div class="large-6 columns">
                  <label>Provincia
                    <%= collection_select(:pet, :animal_type_id, AnimalType.all, :id, :name, {}, {:id=>'animal-type-selector'}) %>
                  </label>
                </div>
                <div class="large-6 columns">
                  <label>Dirección exacta y lugares aledaños
                    <%= f.text_area :sex %>
                  </label>
                </div>
              </div>
              <div class="row">
                
              </div>
            <br><%= f.submit "Aceptar", class: "secondary small button right" %>
            <% end %>
          </div>
        </div>
    </div>
</div>