<h3>Su mascota</h3></h3><br><br>
<p>Informacion de su mascota</p>
  <%= @pet.name %><br>
  <%= @pet.sex %><br>
  <%= @pet.description %><br>
  <%= @breed.name %><br>
  <%= image_tag @pet.avatar.url(:thumb) %>
</p>