<div class="large-12 columns">
    <div class="row">
        <br>
        <h3>Información de su mascota <%= @pet.name %></h3>
        <hr>
          <div class="panel">
            <%= image_tag @pet.avatar.url(:medium) %><br>
            <p>Es un <%= @pet.animal_type.name.downcase %> <%= @pet.sex.downcase %> de raza <%= @pet.breed.name.downcase %></p><br>
          </ul>
          </div>
        </p>
    </div>
</div>