<%= render 'shared/header' %>
<%= render 'shared/page_heading', { heading: "Perfil de #{@user.name}" } %>

<section class="page-content">
  <div class="container">
    
    <div class="row">
      <div class="col-md-5">
        <figure class="alignnone">
          <% image = @user.image.nil? ? 'profile_default.png' : @user.image %>
          <%= image_tag(image, class: 'profile-picture-big') %>
        </figure>
      </div>

      <div class="col-md-7">
        <div class="spacer visible-sm visible-xs"></div>
        <div class="team-single-head">
          <h2><%= @user.name %></h2>
        </div>

        <h5>Perfil</h5>

        <dl class="dl-horizontal">
          <dt>Email</dt>
          <dd><%= @user.email %></dd>
        </dl>

        <%= link_to 'Editar', edit_user_path(id: current_user.id), class: "btn btn-sm btn-warning" %>
      </div>
    </div>

    <hr class="lg">

    <h3>Tus mascotas agregadas</h3>
    <%= render 'shared/pets_grid' %>

  </div>
</section>
