<% pet = adoption.pet %>

<div class="pet-name">
  <p>¡Adoptá a <%= pet.name %>! <%= link_to '(editar mascota)', edit_adoption_path(adoption) if current_user == adoption.user %></p>
</div>

<fieldset class="pet-field">
  <%= image_tag("breed_icon.svg", class: "lostPet__information__detail__image") %>
  <div class="lostPet__information__detail__text">
    <b><%= pet.breed_name %></b> (<%= pet.sex %>)
  </div>
</fieldset>

<% if pet.castrated %>
  <fieldset class="pet-field">
    <%= image_tag("description_icon.svg", class: "lostPet__information__detail__image") %>
    <div class="lostPet__information__detail__text">
      Está castrado
    </div>
  </fieldset>
<% end %>

<fieldset class="pet-field">
  <%= image_tag("description_icon.svg", class: "lostPet__information__detail__image") %>
  <div class="lostPet__information__detail__text">
    <b>Edad: </b><%= pet.age %>
  </div>
</fieldset>

<fieldset class="pet-field">
  <%= image_tag("size_icon.svg", class: "lostPet__information__detail__image") %>
  <div class="lostPet__information__detail__text">
    <b>Tamaño: </b><%= pet.size %>
  </div>
</fieldset>

<fieldset class="pet-field">
  <%= image_tag("description_icon.svg", class: "lostPet__information__detail__image") %>
  <div class="lostPet__information__detail__text">
    <%= adoption.description %>
  </div>
</fieldset>

<fieldset class="pet-field">
  <%= image_tag("phone_icon.svg", class: "lostPet__information__detail__image") %>
  <div class="lostPet__information__detail__text">
    <b><%= adoption.phone_numbers.join(' / ') %></b> (con <%= adoption.contact %>)
  </div>
</fieldset>
