<footer class="footer" id="footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
          Copyright &copy; <%= Time.now.year %> <a href="index.html">Misingo</a> &nbsp;| &nbsp; Derechos&nbsp;reservados
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="social-links-wrapper">
            <span class="social-links-txt">Seguinos en redes sociales</span>
            <ul class="social-links social-links__light">
              <li>
                <%= link_to 'https://www.facebook.com/misingocom', target: '_blank' do %><i class="fa fa-facebook"></i><% end %>
              </li>
              <li>
                <%= link_to 'https://www.twitter.com/misingocom', target: '_blank' do %><i class="fa fa-twitter"></i><% end %>
              </li>
              <li>
                <%= link_to 'https://www.instagram.com/misingocom', target: '_blank' do %><i class="fa fa-instagram"></i><% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Deferred JS scripts. These don't run until after the load event is triggered. -->
<%= defer_javascript_include_tag "application-defer.js" %>
