<header class="header header-menu-fullw">

  <%# if current_user.nil? %>
    <div class="header-top">
      <div class="container">
        <div class="header-top-left">
          <ul class="header-top-nav">
            <li><a href="features-pricing-tables.html">Pricing</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="pages-faqs.html">FAQs</a></li>
          </ul>
        </div>
        <div class="header-top-right">
          <span class="register">
            ¿Tenés cuenta? <a href="#" class="btn btn-sm btn-warning">Iniciar</a> <a href="#" class="btn btn-sm btn-warning">Ingresar con Facebook</a>
          </span>
        </div>
      </div>
    </div>
  <%# end %>

  <div class="header-main">
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <a href="index.html"><img src="/assets/images/logo.png" alt="PetSitter"></a>
      </div>
      <!-- Logo / End -->

      <button type="button" class="navbar-toggle">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Banner -->
      <div class="head-info">
        <ul class="head-info-list">
          <li><span>Mascotas desaparecidas </span>en Costa Rica</li>
        </ul>
        <ul class="social-links">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- Banner / End -->
    </div>
  </div>

  <!-- Navigation -->
  <nav class="nav-main">
    <div class="container">
      <ul data-breakpoint="992" class="flexnav">
        <li class="active"><a href="index.html">Inicio</a></li>
        <li><a href="index.html">Adopciones</a></li>
        <li><a href="contacts.html">Contacto</a></li>
      </ul>
    </div>
  </nav>
  <!-- Navigation / End -->

    </header>

<!-- OLD HEADER -->

<!-- <div id='intro'>
  <div class='contain-to-grid'>
    <nav class='top-bar' data-topbar>
      <ul class='title-area'>
        <li class='name'>
          <h1><%= link_to 'buscamascotas', home_path, class:"title" %></h1>
        </li>
        <li class='toggle-topbar menu-icon'><a>
          <span>Menú</span></a>
        </li>
      </ul>
      <section class='top-bar-section'>
        <ul class='right'>
          <li><%= nav_link 'Inicio', home_path %></li>
          <li class='has-dropdown'>
            <% if current_user.nil? %>
              <a>Registrar desaparición</a>
              <ul class='dropdown'>
                <li><%= nav_link 'Iniciar con Facebook', user_omniauth_authorize_path(:facebook) %></li>
                <li><%= nav_link 'Iniciar con Buscamascotas', new_user_session_path %></li>
              </ul>
            <% else %>
              <%= nav_link 'Registrar desaparición', new_pet_path %>
            <% end %>
          </li>
          <li><%= nav_link 'Adopciones', '/inicio/' %></li>
          <li class='has-dropdown'>
            <% if current_user.nil? %>
              <a>Iniciar sesión</a>
              <ul class='dropdown'>
                <li><%= nav_link 'Iniciar con Facebook', user_omniauth_authorize_path(:facebook) %></li>
                <li><%= nav_link 'Iniciar con Buscamascotas', new_user_session_path %></li>
              </ul>
            <% else %>
              <a>
                <% image = current_user.image.nil? ? 'profile_default.png' : current_user.image %>
                <%= current_user.name %> <%= image_tag(image, class:"mini profile") %>
              </a>
              <ul class='dropdown'>
                <li><%= nav_link 'Ver mi cuenta', profile_path %></li>
                <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
              </ul>
            <% end %>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</div>
 -->