<header class="header header-menu-fullw">
  <% if current_user.nil? %>
    <div class="header-top">
      <div class="container">
        <div class="header-top-left">
          <ul class="header-top-nav">
            <li><a href="features-pricing-tables.html">Pricing</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="pages-faqs.html">FAQs</a></li>
          </ul>
        </div>
        <div class="header-top-right">
          <span class="register">
            ¿Tenés cuenta?
            <%= button_to 'Iniciar', new_user_session_path, class: "btn btn-sm btn-warning" %>
            <%= button_to 'Ingresar con Facebook', user_omniauth_authorize_path(:facebook), class: "btn btn-sm btn-warning facebook" %>
          </span>
        </div>
      </div>
    </div>
  <% else %>
    <div class="header-top">
      <div class="container">
        <div class="header-top-left">
        </div>
        <div class="header-top-right">
          <div class="user-info">
            <%= button_to 'Registrar mascota desaparecida', new_user_session_path, class: "btn btn-sm btn-warning" %>
            <span></span> 
            <% image = current_user.image.nil? ? 'profile_default.png' : current_user.image %>
            <%= current_user.name %> <%= image_tag(image, class:'small-picture') %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="header-main">
    <div class="container">
      <!-- Logo -->
      <div class="logo">
        <%= image_tag('logo.png') %>
      </div>
      <!-- Logo / End -->
      <button type="button" class="navbar-toggle">
        <i class="fa fa-bars"></i>
      </button>
      <!-- Banner -->
      <div class="head-info">
        <ul class="head-info-list">
          <li><span>Mascotas desaparecidas </span>en Costa Rica</li>
        </ul>
        <ul class="social-links">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <!-- Banner / End -->
    </div>
  </div>

  <!-- Navigation -->
  <!-- <nav class="nav-main">
    <div class="container">
      <ul data-breakpoint="992" class="flexnav">
        <li class="active"><a href="index.html">Inicio</a></li>
        <li><a href="index.html">Adopciones</a></li>
        <li><a href="contacts.html">Contacto</a></li>
      </ul>
    </div>
  </nav> -->
  <!-- Navigation / End -->
</header>
