<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=349093038599910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="site-wrapper">
    <% if flash[:notice] %>
      <div class=" alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <header class="header header-coming-soon">
      <div class="header-main">
        <div class="container">
          <div class="logo">
            <%= image_tag('misingo_text.png', width: 450) %>
          </div>
        </div>
      </div>
    </header>

    <div class="main main__padd-top" role="main">
      <section class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1>Ya casi lanzamos la aplicación...</h1>
              <p>Misingo será un sitio que te ayudará a encontrar a tu mascota desaparecida y a buscarle hogar a muchos animales que lo merecen.</p>
              <%= form_for @invite, html: { class: 'form-horizontal' } do |f| %>
                <p> Dejanos tu email y te estaremos avisando de nuestro lanzamiento.
                También nos podés ayudar aportando algún comentario o sugerencia.</p>
                <div class="form-group <%= 'has-error' if flash[:error].try(:[], 'email') %>">
                  <%= f.email_field :email, class: "form-control", placeholder: 'Email' %>
                  <% if flash[:error].try(:[], 'email') %>
                    <div class='help-block text-left'>
                      <%= flash[:error]['email'][0] %>
                    </div>
                  <% end %>
                </div>
                <div class='form-group'>
                  <%= f.text_area :comment, class: 'form-control', placeholder: 'Comentario o sugerencia' %>
                </div>
                <div class='form-group'>
                  <%= f.submit "Agregame a la lista", class: 'btn btn-primary btn-sm' %>
                </div>
              <% end %>
              <p><b>¡Por mientras seguinos en <%= link_to 'Facebook', 'https://www.facebook.com/misingocom', target: '_blank' %> y <%= link_to 'Twitter', 'https://twitter.com/misingocom', target: '_blank' %>!</b></p>
              <div class="fb-like" data-href="https://www.facebook.com/misingocom" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
          </div>
        </div>
      </section>

      <br/><br/><br/>

      <footer class="footer" id="footer">
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                Copyright &copy; 2015  <a href="/">Misingo</a> &nbsp;| &nbsp;Derechos reservados
              </div>
              <div class="col-sm-6 col-md-8">
                <div class="social-links-wrapper">
                  <span class="social-links-txt">Contacto</span>
                  <ul class="social-links social-links__light">
                    <li>
                      <%= link_to "https://www.linkedin.com/in/robquesada", target: "_blank" do %>
                        <i class="fa fa-linkedin"></i>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
