<% content_for :fb_meta_tags do %>
  <meta property="fb:app_id" content="<%= ENV['FACEBOOK_APP_ID'] %>" />
  <meta property="og:title" content="ยก<%= @adoption.pet.name %> busca un hogar!" />
  <meta property="og:site_name" content="Misingo"/>
  <meta property="og:description" content="<%= @adoption.description %>. Llamar al <%= @adoption.phone_numbers.join(' / ') %>" />
  <meta property="og:type" content="article" />
  <meta property="article:publisher" content="https://www.facebook.com/misingocom" />
  <meta property="article:author" content="https://www.facebook.com/misingocom" />
  <meta property="og:url" content="<%= request.base_url + adoption_path(@adoption) %>" />
  <meta property="og:image" content="<%= @adoption.pet.avatar.url(:preview) %>" />
  <meta property="og:image:width" content="600" />
  <meta property="og:image:height" content="315" />
<% end %>

<%= render 'shared/header' %>
<%= render 'shared/page_heading', { heading: "#{@adoption.pet.name} busca hogar" } %>

<section class="page-content">
  <div class="container">
    <div class="row">
      <div class="pet-image col-md-7">
        <%= image_tag(@adoption.pet.avatar.url(:large), class: 'img-thumbnail') %>
        <%= render 'social_share_options', { adoption: @adoption } %>
      </div>
      <div class="col-md-5">
        <%= render 'shared/adoption_info', { adoption: @adoption } %>
      </div>
    </div>
  </div>
</section>
