<%= render 'social_share_meta_tags' %>
<%= render 'shared/header' %>
<% text = @adoption.adopted ? 'ya tiene nuevo hogar' : 'busca hogar' %>
<%= render 'shared/page_heading', { heading: "#{@adoption.pet.name} #{text}" } %>

<section class="page-content">
  <div class="container">
    <div class="row">
      <div class="pet-image col-md-7">
        <%= image_tag(@adoption.pet.avatar.url(:large), class: 'img-thumbnail') %>
        <%= render 'social_share_buttons', { adoption: @adoption } %>
      </div>
      <div class="col-md-5">
        <% if @adoption.adopted %>
          <%= render 'adopted_info', { adoption: @adoption } %>
          <div class="alert alert-warning alert-dismissable flyer-container">
            <strong><%= "¡Ya #{@adoption.pet.name} se dio en adopción!" %></strong>
            <%= render 'shared/site_slogan' %>
          </div>
        <% else %>
          <%= render 'shared/adoption_info', { adoption: @adoption } %>
        <% end %>
      </div>
    </div>
  </div>
</section>
