<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title><%= content_for?(:title) ? yield(:title) : 'Misingo | Adopciones de Mascotas en Costa Rica, Mascotas desaparecidas en Costa Rica' %></title>
    <%= content_for?(:facebook_meta_tags) ? yield(:facebook_meta_tags) : render('shared/default_social_meta_tags') %>
    <%= content_for?(:twitter_meta_tags) ? yield(:twitter_meta_tags) : '' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application-head' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Bitter:700' rel='stylesheet' type='text/css'>
    <meta name='google-site-verification' content='<%= ENV['GOOGLE_VERIFICATION_CODE'] %>' />
  </head>
  <body>
    <% if Rails.env.production? %>
      <%#= render 'shared/soon' %>
    <% else %>
      <%= yield %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
